<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- Program Files directory -->
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="ManufacturerFolder" Name="Carsten Gehling">
        <Directory Id="INSTALLFOLDER" Name="Jira StopWatch" />
      </Directory>
    </StandardDirectory>

    <!-- Start Menu -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Jira StopWatch" />
    </StandardDirectory>
  </Fragment>
</Wix>
